<%= form_for(inside) do |f| %>
  <% if inside.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inside.errors.count, "error") %> prohibited this inside from being saved:</h2>

      <ul>
      <% inside.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, ['Internship', 'Scholarship', 'Grant', 'Research'], :required => true %>
  </div>

  <div class="field">
    <%= f.label :department %>
    <%= f.select :department, ['African American Studies', 'African Studies', 'American Studies', 'English', 'CIS'], :required => true %>
  </div>

  <div class="field">
    <%= f.label :semester %>
<<<<<<< HEAD
    <%= f.select :semester, ['Fall', 'Winter', 'Spring', 'Summer', 'Full Year'], :required => true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => true %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.select :location, ['Wesleyan', 'Connecticut', 'National', 'International'],:required => true  %>
  </div>

  <div class="field">
    <%= f.label "Years Eligible:" %><br />
    <%= f.collection_check_boxes :year_ids, Year.all, :id, :year do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link, :required => true  %>
    <%= f.select :semester, ['Fall', 'Winter', 'Spring', 'Summer', 'Full Year'], :required => true %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
