<%= form_for(inside) do |f| %>
  <% if inside.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inside.errors.count, "error") %> prohibited this inside from being saved:</h2>

      <ul>
      <% inside.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline, :required => true  %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, ['Internship', 'Scholarship', 'Grant', 'Research'], :required => true %>
  </div>

  <div class="field">
    <%= f.label :department %>
    <%= f.select :department, ['African American Studies', 'African Studies', 'American Studies', 'Etc'], :required => true %>
  </div>

  <div class="field">
    <%= f.label :season %>
    <%= f.select :season, ['Fall', 'Winter', 'Spring', 'Summer'], :required => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
