
  <!--Navigation bar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">WesFund</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline">
        Hello, <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out", :class => "btn btn-sm btn-link" %>
        <button class="btn btn-sm btn-link my-2 my-sm-0" type="button" data-toggle="modal" data-target=".favorites-modal-lg">
          Favorites
        </button>
      </form>
    </div>
  </nav>

  <!--Side filters and search list-->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!--Search Params Box-->
            <p>
              <%= params[:search] %>,
              <%= params[:semester] %>,
              <%= params[:category] %>,
              <%= params[:department] %>
            </p>
          <!--Clear Params-->
            <%= link_to 'Reset', insides_path(:search => nil, :semester => nil, :category => nil, :department => nil), class: "btn btn-sm btn-link" %>
          <!--Search-->
          <%= form_tag(insides_path, :method => "get", class:"input-group", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for...", class:"form-control" %>
            <span class="input-group-btn">
              <%= submit_tag "Go!", :name => nil, class: "btn btn-sm btn-secondary"%>
            </span>
          <% end %>

          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Department
                  </a>
                </h6>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= link_to 'American Studies', insides_path(:semester => params[:semester], :category => params[:category], :department => 'American Studies'), :class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'African American Studies', insides_path(:semester => params[:semester], :category => params[:category], :department => 'African American Studies'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'College of Integrated Sciences', insides_path(:semester => params[:semester], :category => params[:category], :department => 'CIS'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'English', insides_path(:semester => params[:semester], :category => params[:category], :department => 'English'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Computer Science', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Computer Science'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Economics', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Economics'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Government', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Government'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Sociology', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Sociology'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Art Studio', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Art Studio'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Math', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Math'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Biology', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Biology'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Physics', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Physics'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Chemistry', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Chemistry'),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Environmental Science', insides_path(:semester => params[:semester], :category => params[:category], :department => 'Environmental Science'),:class => 'btn btn-sm btn-link text-left'%>
                  </div>
                </div>
              </div>
            </div>

              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                      Eligibility
                    </a>
                  </h6>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                          <label>GPA</label>
                        <input class="form-control" type="number" />
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                          <label>Major</label>
                        <input class="form-control" type="text" />
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>Class Year</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                          </select>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" >
                          <label>US Citizen</label>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="dropdown m-y-1">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to 'Scholarship', insides_path(:category => 'Scholarship', :semester => params[:semester], :department => params[:department]), :class => 'dropdown-item' %>
                    <%= link_to 'Internship', insides_path(:category => 'Internship',  :semester => params[:semester], :department => params[:department]), :class => 'dropdown-item'%>
                    <%= link_to 'Grant', insides_path(:category => 'Grant',  :semester => params[:semester], :department => params[:department]), :class => 'dropdown-item'%>
                    <%= link_to 'Research', insides_path(:category => 'Research',  :semester => params[:semester], :department => params[:department]), :class => 'dropdown-item'%>
                  </div>
                </div>
              </div>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Semester
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Fall', insides_path(:semester => 'Fall', :category => params[:category], :department => params[:department]), :class => 'dropdown-item'%>
                  <%= link_to 'Winter', insides_path(:semester => 'Winter', :category => params[:category], :department => params[:department]), :class => 'dropdown-item'%>
                  <%= link_to 'Spring', insides_path(:semester => 'Spring', :category => params[:category], :department => params[:department]), :class => 'dropdown-item'%>
                  <%= link_to 'Summer', insides_path(:semester => 'Summer', :category => params[:category], :department => params[:department]), :class => 'dropdown-item'%>
                </div>
              </div>

              <div class="dropdown m-y-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Location
                </button>
              </div>

              <div class="dropdown m-y-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Eligibility
                </button>
              </div>
            </div>
          </div>

        <div class="col-sm-9">
          <h1> Available Opportunities</h1>
          <table class="table table-striped table-bordered table-hover table-sm table-responsive table-sm">
            <thead class="thead-inverse">
              <tr>
                <th><%= link_to 'Name', insides_path(:sorting => 'name')%></th>
                <th><%= link_to 'Deadline', insides_path(:sorting => 'deadline')%></th>
                <th><%= link_to 'Category', insides_path(:sorting => 'category')%></th>
                <th><%= link_to 'Department', insides_path(:sorting => 'department')%></th>
                <th><%= link_to 'Semester', insides_path(:sorting => 'semester')%></th>
                <th><%= link_to 'Years', insides_path(:sorting => 'year')%></th>
                <th>Information</th>
                <th>Favorite</th>
                <% if current_user.admin? %>
                  <th>
                    Admin
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% if @insides.blank? %>
                <tr>
                  <td>
                  We found no opportunities that matched your search!
                  </td>
                </tr>
              <% else %>
                <% @insides.each do |inside| %>
                  <tr data-toggle="collapse" data-parent="#accordion" href="collapse"  aria-expanded="true" aria-controls="collapse">
                    <td><%= inside.name %></td>
                    <td><%= inside.deadline %></td>
                    <td><%= inside.category %></td>
                    <td><%= inside.department %></td>
                    <td><%= inside.semester %></td>
                    <td>
                      <% inside.year_ids.each do |id| %>
                        <%= Year.find(id).year %>
                      <% end %>
                    </td>
                    <td>
                      <!-- <%= link_to 'Show more info', inside %> -->
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#<%= inside.id %>">
                        Show Info
                      </button>
                    </td>
                    <td>
                      <% if current_user %>
                        <%= link_to "Favorite",   favorite_inside_path(id: inside.id, type: "favorite"), method: :put, :class => "btn btn-link btn-sm" %>
                      <% end %>
                    </td>
                    <% if current_user.admin? %>
                      <td>
                        <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                          <%= link_to 'Edit', edit_inside_path(inside), :class => "btn btn-link btn-sm"  %>
                          <%= link_to 'Destroy', inside, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link btn-sm"  %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading">
                      <%= inside.description %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <!--Favorites Table hidden inside 'Favorites' Modal-->
          <div class="modal fade favorites-modal-lg" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myLargeModalLabel">Your Favorites</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped table-bordered table-hover table-sm table-responsive">
                    <thead class="thead-inverse">
                      <tr>
                        <th><%= link_to 'Name', insides_path(:sorting => 'name')%></th>
                        <th><%= link_to 'Deadline', insides_path(:sorting => 'deadline')%></th>
                        <th><%= link_to 'Category', insides_path(:sorting => 'category')%></th>
                        <th><%= link_to 'Department', insides_path(:sorting => 'department')%></th>
                        <th><%= link_to 'Semester', insides_path(:sorting => 'semester')%></th>
                        <th>Unfavorite</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if current_user.favorites.blank? %>
                        <tr>
                          <td>
                          You have favorited no opportunities yet.
                          </td>
                        </tr>
                      <% else %>
                        <% current_user.favorites.each do |fave| %>
                          <tr>
                            <td><%= fave.name %></td>
                            <td><%= fave.deadline %></td>
                            <td><%= fave.category %></td>
                            <td><%= fave.department %></td>
                            <td><%= fave.semester %></td>
                            <td>
                              <% if current_user %>
                                <%= link_to "Unfavorite", favorite_inside_path(id: fave.id, type: "unfavorite"), method: :put, :class => "btn btn-sm btn-link" %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <!--Show info modal loop-->
          <% @insides.each do |inside| %>
            <!--Modal-->
            <div class="modal fade" id="<%= inside.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= inside.id %>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="<%= inside.id %>"><%= inside.name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="notice"><%= notice %></p>
                    <p>
                      <strong>Name:</strong>
                      <%= inside.name %>
                    </p>
                    <p>
                      <strong>Deadline:</strong>
                      <%= inside.deadline %>
                    </p>
                    <p>
                      <strong>Category:</strong>
                      <%= inside.category %>
                    </p>
                    <p>
                      <strong>Department:</strong>
                      <%= inside.department %>
                    </p>
                    <p>
                      <strong>Semester:</strong>
                      <%= inside.semester %>
                    </p>
                    <p>
                      <strong>Description:</strong>
                      <%= inside.description %>
                    </p>
                    <p>
                      <strong>Link:</strong>
                      <%= link_to "Click here to apply", inside.link, :target => "_blank" %>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end%>


        </div>
      </div>
    </div>
  </div>
