
  <!--Navigation bar-->
  <nav class="navbar navbar-toggleable-md navbar-dark bg-inverse">
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="navbar-brand" href="#">WesFund</a>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>-->
      </ul>
      <form class="form-inline">
        <h6>
          Hello, <strong><%=current_user.name%></strong>!
        </h6>
        <button class="btn btn-sm btn-link my-2 my-sm-0" type="button" data-toggle="modal" data-target=".favorites-modal-lg">
          Favorites
        </button>
        <%= link_to "Sign out", signout_path, id: "sign_out", :class => "btn btn-sm btn-link" %>
      </form>
    <!-- </div> -->
  </nav>

  <!--Side filters and search list-->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1> Available Opportunities</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <!--Search Params Box-->
          <div class="card">
            <div class="card-block">
              <!--Clear ALL Params-->
              <%= link_to 'Reset All', insides_path(:search => nil, :category => nil, :department => nil, :location => nil), class: "btn btn-sm btn-outline-danger" %>
              <!--Individual Params-->
              <% if params[:search] != nil %>
                <%= link_to params[:search] + " X", insides_path(:search => nil, :category => params[:category], :department => params[:department], :location => params[:location], :finaid => params[:finaid]), class: "btn btn-sm btn-secondary" %>
              <% end %>
              <% if params[:category] != nil %>
                <%= link_to params[:category] + " X", insides_path(:search => params[:search], :category => nil, :department => params[:department], :location => params[:location], :finaid => params[:finaid]), class: "btn btn-sm btn-secondary" %>
              <% end %>
              <% if params[:department] != nil %>
                <%= link_to params[:department] + " X", insides_path(:search => params[:search], :category => params[:category], :department => nil, :location => params[:location], :finaid => params[:finaid]), class: "btn btn-sm btn-secondary" %>
              <% end %>
              <% if params[:location] != nil %>
                <%= link_to params[:location] + " X", insides_path(:search => params[:search], :category => params[:category], :department => params[:department], :location => nil, :finaid => params[:finaid]), class: "btn btn-sm btn-secondary" %>
              <% end %>
              <% if params[:finaid] != nil %>
                <%= link_to params[:finaid] + " X", insides_path(:search => params[:search], :category => params[:category], :department => params[:department], :location => params[:location], :finaid => nil), class: "btn btn-sm btn-secondary" %>
              <% end %>
            </div>
          </div>

          <!--Search-->
          <%= form_tag(insides_path, :method => "get", class:"input-group", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search for...", class:"form-control" %>
            <span class="input-group-btn">
              <%= submit_tag "Go!", :name => nil, class: "btn btn-sm btn-secondary"%>
            </span>
          <% end %>
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style = "color: #900">
                    Department
                  </a>
                </h6>
              </div>
              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= link_to 'African American Studies', insides_path(:category => params[:category], :department => 'African American Studies', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'American Studies', insides_path(:category => params[:category], :department => 'American Studies', :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Career Center', insides_path(:category => params[:category], :department => 'Career Center', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'College of Integrated Sciences', insides_path(:category => params[:category], :department => 'CIS', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Center for Global Studies', insides_path(:category => params[:category], :department => 'Center for Global Studies', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Center for Jewish Studies', insides_path(:category => params[:category], :department => 'Center for Jewish Studies', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'English', insides_path(:category => params[:category], :department => 'English', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Patricelli Center', insides_path(:category => params[:category], :department => 'Patricelli Center', :location => params[:location], :finaid => params[:finaid]),:class => 'btn btn-sm btn-link text-left'%>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style = "color: #900">
                    Category
                  </a>
                </h6>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= link_to 'Scholarship', insides_path(:category => 'Scholarship', :department => params[:department], :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left' %>
                    <%= link_to 'Fellowship', insides_path(:category => 'Fellowship',  :department => params[:department], :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Entrepreneurship', insides_path(:category => 'Entrepreneurship',  :department => params[:department], :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Grant', insides_path(:category => 'Grant',  :department => params[:department], :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                    <%= link_to 'Research', insides_path(:category => 'Research',  :department => params[:department], :location => params[:location], :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingFour">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" style = "color: #900">
                    Location
                  </a>
                </h6>
              </div>
              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= link_to 'On-Campus', insides_path(:category => params[:category], :department => params[:department], :location => 'On-Campus', :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left' %>
                    <%= link_to 'Off-Campus', insides_path(:category => params[:category],  :department => params[:department], :location => 'Off-Campus', :finaid => params[:finaid]), :class => 'btn btn-sm btn-link text-left'%>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style = "color: #900">
                    Eligibility
                  </a>
                </h6>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                  <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                    <%= link_to 'Financial aid required', insides_path(:category => params[:category], :department => params[:department], :location => params[:location], :finaid=>'Aid required'), :class => 'btn btn-sm btn-link text-left' %>
                    <%= link_to 'Financial aid not required', insides_path(:category => params[:category],  :department => params[:department], :location => params[:location], :finaid=>'Aid not required'), :class => 'btn btn-sm btn-link text-left'%>
                  </div>
                </div>
              </div>
            </div>


            </div>
          </div>

        <div class="col-sm-9">


          <% if current_user.admin? %>
            <%= link_to 'New Entry', new_inside_path, :class => "btn btn-sm btn-link"%>
          <% end %>
          <table class="table table-hover table-sm table-responsive" id="dataTable">
            <thead class="thead-inverse">
              <tr>
                <th><%= link_to 'Name', insides_path(:sorting => 'name', :category => params[:category], :department => params[:department], :location => params[:location])%></th>
                <th><%= link_to 'Deadline', insides_path(:sorting => 'deadline', :category => params[:category], :department => params[:department], :location => params[:location])%></th>
                <th><%= link_to 'Category', insides_path(:sorting => 'category', :category => params[:category], :department => params[:department], :location => params[:location])%></th>
                <th><%= link_to 'Department', insides_path(:sorting => 'department', :category => params[:category], :department => params[:department], :location => params[:location])%></th>
                <th><%= link_to 'Years', insides_path(:sorting => 'year', :category => params[:category], :department => params[:department], :location => params[:location])%></th>
                <th>Information</th>
                <th>Favorite</th>
                <% if current_user.admin? %>
                  <th>
                    Admin
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% if @insides.blank? %>
                <tr>
                  <td>
                  We found no opportunities that matched your search!
                  </td>
                </tr>
              <% else %>
                <% @insides.each do |inside| %>
                  <tr data-toggle="collapse" data-parent="#accordion" href="collapse"  aria-expanded="true" aria-controls="collapse">
                    <td><%= inside.name %></td>
                    <td><%= inside.deadline %></td>
                    <td><%= inside.category %></td>
                    <td><%= inside.department %></td>
                    <td>
                      <% inside.year_ids.each do |id| %>
                        <%= Year.find(id).year %>
                      <% end %>
                    </td>
                    <td>
                      <!-- <%= link_to 'Show more info', inside %> -->
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#<%= inside.id %>">
                        Show Info
                      </button>
                    </td>
                    <td>
                      <% if current_user %>
                        <%= link_to "Favorite",   favorite_inside_path(id: inside.id, type: "favorite"), method: :put, :class => "btn btn-link btn-sm" %>
                      <% end %>
                    </td>
                    <% if current_user.admin? %>
                      <td>
                        <div class="btn-group btn-group-sm btn-group-vertical" role="group" aria-label="...">
                          <%= link_to 'Edit', edit_inside_path(inside), :class => "btn btn-link btn-sm"  %>
                          <%= link_to 'Delete', inside, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link btn-sm"  %>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading">
                      <%= inside.description %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>


          <%= will_paginate @insides %>




          <!--Favorites Table hidden inside 'Favorites' Modal-->
          <div class="modal fade favorites-modal-lg" id="favoritesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myLargeModalLabel">Your Favorites</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-hover table-sm table-responsive">
                    <thead class="thead-inverse">
                      <tr>
                        <!-- <th><%= link_to 'Name', insides_path(:sorting => 'name')%></th>
                        <th><%= link_to 'Deadline', insides_path(:sorting => 'deadline')%></th>
                        <th><%= link_to 'Category', insides_path(:sorting => 'category')%></th>
                        <th><%= link_to 'Department', insides_path(:sorting => 'department')%></th>-->
                        <th>Name</th>
                        <th>Deadline</th>
                        <th>Category</th>
                        <th>Department</th>
                        <th>Unfavorite</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if current_user.favorites.blank? %>
                        <tr>
                          <td>
                          You have favorited no opportunities yet.
                          </td>
                        </tr>
                      <% else %>
                        <% current_user.favorites.each do |fave| %>
                          <tr>
                            <td><%= fave.name %></td>
                            <td><%= fave.deadline %></td>
                            <td><%= fave.category %></td>
                            <td><%= fave.department %></td>
                            <td>
                              <% if current_user %>
                                <%= link_to "Unfavorite", favorite_inside_path(id: fave.id, type: "unfavorite"), method: :put, :class => "btn btn-sm btn-link" %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <!--Show info modal loop-->
          <% @insides.each do |inside| %>
            <!--Modal-->
            <div class="modal fade" id="<%= inside.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= inside.id %>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="<%= inside.id %>"><%= inside.name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="notice"><%= notice %></p>
                    <p>
                      <strong>Name:</strong>
                      <%= inside.name %>
                    </p>
                    <p>
                      <strong>Description:</strong>
                      <%= inside.description %>
                    </p>
                    <p>
                      <strong>Financial Aid Eligibility Required:</strong>
                      <%= inside.finaid %>
                    </p>
                    <p>
                      <strong>Link:</strong>
                      <%= link_to "Click here to apply", inside.link, :target => "_blank" %>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end%>

        </div>
      </div>
    </div>
  </div>
