<head>
  <title>WesFund Results</title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link rel="stylesheet" href="css/flexboxgrid.min.css" type="text/css">
</head>



<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        WesFund
      </a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--Dropdowns-->
  <div class="container p-t-3">
    <div class= "row p-t-3">


      <div class= "col-xs-2 text-xs-center offset-xs-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>

      <div class= "col-xs-2 text-xs-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Scholarship', insides_path(:filter_category => 'Scholarship'), class: 'dropdown-item' %>
            <%= link_to 'Internship', insides_path(:filter_category => 'Internship'), class:'dropdown-item'%>
            <%= link_to 'Grant', insides_path(:filter_category => 'Grant'), class:'dropdown-item'%>
            <%= link_to 'Research', insides_path(:filter_category => 'Research'), class:'dropdown-item'%>
          </div>
        </div>
      </div>



      <div class= "col-xs-2 text-xs-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Season
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Fall', insides_path(:filter_season => 'Fall'), class:'dropdown-item'%>
            <%= link_to 'Winter', insides_path(:filter_season => 'Winter'), class:'dropdown-item'%>
            <%= link_to 'Spring', insides_path(:filter_season => 'Spring'), class:'dropdown-item'%>
            <%= link_to 'Summer', insides_path(:filter_season => 'Summer'), class:'dropdown-item'%>
          </div>
        </div>
      </div>



      <div class= "col-xs-2 text-xs-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eligibility
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>



    </div>
  </div>

  <!--Side filters and search list-->
  <div class="container p-t-3">
    <!--side filters-->
    <div class="row">
      <div class="col-xs-3">
        <textarea class="form-control m-b-1" id="exampleTextarea" rows="3" placeholder="Condition"></textarea>
        <input class="form-control mr-sm-2 m-y-1" type="text" placeholder="Search...">
          <%= form_tag(insides_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Money" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </input>


        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Department
                </a>
              </h6>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                      American Studies
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      African-American Studies
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      Math & Computer Science
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      Government
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                  Eligibility
                </a>
              </h6>
            </div>
            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      <label>GPA</label>
                    <input class="form-control" type="number" />
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      <label>Major</label>
                    <input class="form-control" type="text" />
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                        <option selected>Class Year</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" >
                      <label>US Citizen</label>
                  </label>
                </div>


              </div>
            </div>
          </div>



        </div>



        <div class="dropdown m-y-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
        </div>
        <div class="dropdown m-y-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location
          </button>
        </div>
        <div class="dropdown m-y-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eligibility
          </button>
        </div>
      </div>


      <!--search results-->
      <div class="col-xs-9">
        <%= link_to 'New Inside', new_inside_path %>

        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th><%= link_to 'Name', insides_path(:sorting => 'name')%></th>
              <th><%= link_to 'Deadline', insides_path(:sorting => 'deadline')%></th>
              <th><%= link_to 'Category', insides_path(:sorting => 'category')%></th>
              <th><%= link_to 'Department', insides_path(:sorting => 'department')%></th>
              <th><%= link_to 'Season', insides_path(:sorting => 'season')%></th>
            </tr>
          </thead>
          <tbody>
            <% if @insides.blank? %>
              <tr>
                <td>
                There are no opportunities containing the term <%= params[:search] %>.
                </td>
              </tr>
            <% else %>
              <% @insides.each do |inside| %>
                <tr>
                  <td><%= inside.name %></td>
                  <td><%= inside.deadline %></td>
                  <td><%= inside.category %></td>
                  <td><%= inside.department %></td>
                  <td><%= inside.season %></td>
                  <td><%= link_to 'Show', inside %></td>
                  <td><%= link_to 'Edit', edit_inside_path(inside) %></td>
                  <td><%= link_to 'Destroy', inside, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            <% end %>

          </tbody>
        </table>
      </div>




    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</body>
