<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inside.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @inside.deadline %>
</p>

<p>
  <strong>Category:</strong>
  <%= @inside.category %>
</p>

<p>
  <strong>Department:</strong>
  <%= @inside.department %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inside.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to "Click here to apply", @inside.link, :target => "_blank" %>

</p>


<%= link_to 'Edit', edit_inside_path(@inside) %> |
<%= link_to 'Back', insides_path %>
